In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
dog_data = pd.read_csv('~\OneDrive\Desktop\Git_Repo\TeamShiba\TeamShiba\MilesWIP\dognition_data_aggregated_by_dogid-Copy1.csv')
dog_data

C:\Users\miles\AppData\Local\Temp\ipykernel_16796\2137363181.py:1: DtypeWarning: Columns (26,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  dog_data = pd.read_csv('~\OneDrive\Desktop\Git_Repo\TeamShiba\TeamShiba\MilesWIP\dognition_data_aggregated_by_dogid-Copy1.csv')

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Unnamed: 30,Unnamed: 31
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.54917,0.004687,6.749999931,564.021516,812190.983300,ce134e42-7144-11e5-ba71-058fbc01cf0b,female,...,Grand Forks,ND,58201,US,0,0,03/12/2015 12:25:00 AM,2,NaN,NaN
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.1622807,0.005845,8.416666781,7.852836,11308.083330,ce1353d8-7144-11e5-ba71-058fbc01cf0b,male,...,Barre,MA,01005,US,0,0,01/00/1900 12:00:00 AM,1,NaN,NaN
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.15000009,0.009132,13.15000009,0.009132,13.150000,ce135ab8-7144-11e5-ba71-058fbc01cf0b,male,...,Darien,CT,06820,US,0,0,01/00/1900 12:00:00 AM,1,NaN,NaN
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.85833,0.004433,6.383333325,561.151794,808058.583300,ce13507c-7144-11e5-ba71-058fbc01cf0b,male,...,Winnetka,IL,60093,US,0,0,09/12/2014 07:26:00 PM,1,NaN,NaN
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.32611,0.000399,0.574999984,232.027627,334119.783300,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,...,Raleigh,NC,27606,US,1,0,01/00/1900 12:00:00 AM,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17981,fdc235e0-7144-11e5-ba71-058fbc01cf0b,7,0.009408,13.54722222,0.004786,6.891666669,0.056447,81.283333,ce9b2aba-7144-11e5-ba71-058fbc01cf0b,male,...,NaN,NaN,NaN,NaN,0.0,0.0,10/12/2015 02:44:00 PM,1.0,NaN,NaN
17982,fdc23a68-7144-11e5-ba71-058fbc01cf0b,1,NaN,#VALUE!,NaN,#VALUE!,0.000000,0.000000,ce9b2eb6-7144-11e5-ba71-058fbc01cf0b,male,...,NaN,NaN,NaN,NaN,0.0,1.0,10/12/2015 08:43:00 PM,4.0,NaN,NaN
17983,fdc23ba8-7144-11e5-ba71-058fbc01cf0b,20,0.004957,7.137719299,0.004201,6.050000041,0.094178,135.616667,ce9b306e-7144-11e5-ba71-058fbc01cf0b,female,...,Carolina Beach,NC,28428,US,0.0,0.0,10/12/2015 08:13:00 PM,1.0,NaN,NaN
17984,fdc23e96-7144-11e5-ba71-058fbc01cf0b,4,0.002948,4.244444444,0.002778,4.000000102,0.008843,12.733333,ce9b33b6-7144-11e5-ba71-058fbc01cf0b,female,...,NaN,NaN,NaN,NaN,0.0,1.0,10/12/2015 07:17:00 PM,4.0,NaN,NaN
17985,fdc2417a-7144-11e5-ba71-058fbc01cf0b,6,0.004012,5.776666648,0.003032,4.366666789,0.020058,28.883333,ce9b35e6-7144-11e5-ba71-058fbc01cf0b,male,...,NaN,NaN,NaN,NaN,0.0,0.0,10/12/2015 08:49:00 PM,1.0,NaN,NaN

In [9]:
dog_data.describe()

,Total Tests Completed,Mean ITI (days),Median ITI (days),Time diff between first and last game (days),Time diff between first and last game (minutes),Birthday,Weight,Dog_Fixed,DNA_Tested,Sign_in_Count,Max_Dogs,Membership_ID,Subscribed,Unnamed: 30,Unnamed: 31
count,17986.000000,1.671800e+04,16718.000000,17986.000000,1.798600e+04,17985.000000,17985.000000,17985.000000,17985.000000,17985.000000,17985.000000,17985.000000,17985.000000,0.0,0.0
mean,9.807239,2.300726e+00,0.275986,25.140728,3.620265e+04,2009.932388,41.485683,0.850876,0.036697,8.329386,1.273450,7.411565,0.549124,NaN,NaN
std,7.799484,1.011768e+01,7.182127,75.788752,1.091358e+05,3.341993,29.380373,0.356221,0.188023,68.940494,1.466773,3.938681,0.497595,NaN,NaN
min,1.000000,6.090000e-07,0.000000,0.000000,0.000000e+00,1982.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,4.000000,3.719136e-03,0.002998,0.009343,1.345417e+01,2008.000000,20.000000,1.000000,0.000000,2.000000,1.000000,2.000000,0.000000,NaN,NaN
50%,7.000000,1.466368e-01,0.003895,0.724473,1.043242e+03,2011.000000,40.000000,1.000000,0.000000,3.000000,1.000000,10.000000,1.000000,NaN,NaN
75%,16.000000,1.226744e+00,0.005012,11.890451,1.712225e+04,2012.000000,60.000000,1.000000,0.000000,6.000000,1.000000,10.000000,1.000000,NaN,NaN
max,45.000000,6.509563e+02,650.956262,960.560440,1.383207e+06,2015.000000,190.000000,1.000000,1.000000,1695.000000,36.000000,17.000000,1.000000,NaN,NaN

In [10]:
dog_data.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Unnamed: 30,Unnamed: 31
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.54917,0.004687,6.749999931,564.021516,812190.98330,ce134e42-7144-11e5-ba71-058fbc01cf0b,female,...,Grand Forks,ND,58201,US,0,0,03/12/2015 12:25:00 AM,2,NaN,NaN
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.1622807,0.005845,8.416666781,7.852836,11308.08333,ce1353d8-7144-11e5-ba71-058fbc01cf0b,male,...,Barre,MA,01005,US,0,0,01/00/1900 12:00:00 AM,1,NaN,NaN
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.15000009,0.009132,13.15000009,0.009132,13.15000,ce135ab8-7144-11e5-ba71-058fbc01cf0b,male,...,Darien,CT,06820,US,0,0,01/00/1900 12:00:00 AM,1,NaN,NaN
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.85833,0.004433,6.383333325,561.151794,808058.58330,ce13507c-7144-11e5-ba71-058fbc01cf0b,male,...,Winnetka,IL,60093,US,0,0,09/12/2014 07:26:00 PM,1,NaN,NaN
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.32611,0.000399,0.574999984,232.027627,334119.78330,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,...,Raleigh,NC,27606,US,1,0,01/00/1900 12:00:00 AM,2,NaN,NaN

In [11]:
dog_data.tail()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Unnamed: 30,Unnamed: 31
17981,fdc235e0-7144-11e5-ba71-058fbc01cf0b,7,0.009408,13.54722222,0.004786,6.891666669,0.056447,81.283333,ce9b2aba-7144-11e5-ba71-058fbc01cf0b,male,...,NaN,NaN,NaN,NaN,0.0,0.0,10/12/2015 02:44:00 PM,1.0,NaN,NaN
17982,fdc23a68-7144-11e5-ba71-058fbc01cf0b,1,NaN,#VALUE!,NaN,#VALUE!,0.000000,0.000000,ce9b2eb6-7144-11e5-ba71-058fbc01cf0b,male,...,NaN,NaN,NaN,NaN,0.0,1.0,10/12/2015 08:43:00 PM,4.0,NaN,NaN
17983,fdc23ba8-7144-11e5-ba71-058fbc01cf0b,20,0.004957,7.137719299,0.004201,6.050000041,0.094178,135.616667,ce9b306e-7144-11e5-ba71-058fbc01cf0b,female,...,Carolina Beach,NC,28428,US,0.0,0.0,10/12/2015 08:13:00 PM,1.0,NaN,NaN
17984,fdc23e96-7144-11e5-ba71-058fbc01cf0b,4,0.002948,4.244444444,0.002778,4.000000102,0.008843,12.733333,ce9b33b6-7144-11e5-ba71-058fbc01cf0b,female,...,NaN,NaN,NaN,NaN,0.0,1.0,10/12/2015 07:17:00 PM,4.0,NaN,NaN
17985,fdc2417a-7144-11e5-ba71-058fbc01cf0b,6,0.004012,5.776666648,0.003032,4.366666789,0.020058,28.883333,ce9b35e6-7144-11e5-ba71-058fbc01cf0b,male,...,NaN,NaN,NaN,NaN,0.0,0.0,10/12/2015 08:49:00 PM,1.0,NaN,NaN

In [12]:
dog_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17986 entries, 0 to 17985
Data columns (total 32 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Dog ID                                           17986 non-null  object
 1   Total Tests Completed                            17986 non-null  int64
 2   Mean ITI (days)                                  16718 non-null  float64
 3   Mean ITI (minutes)                               17986 non-null  object
 4   Median ITI (days)                                16718 non-null  float64
 5   Median ITI (minutes)                             17986 non-null  object
 6   Time diff between first and last game (days)     17986 non-null  float64
 7   Time diff between first and last game (minutes)  17986 non-null  float64
 8   User ID                                          17985 non-null  object
 9   Gender                                           17985 non-null  object
 10  Birthday                                         17985 non-null  float64
 11  Breed                                            17985 non-null  object
 12  Breed_Type                                       17985 non-null  object
 13  Breed_Group                                      17985 non-null  object
 14  Weight                                           17985 non-null  float64
 15  Dog_Fixed                                        17985 non-null  float64
 16  DNA_Tested                                       17985 non-null  float64
 17  Dimension                                        17985 non-null  object
 18  Sign_in_Count                                    17985 non-null  float64
 19  Max_Dogs                                         17985 non-null  float64
 20  Membership_ID                                    17985 non-null  float64
 21  Subscribed                                       17985 non-null  float64
 22  City                                             11618 non-null  object
 23  State                                            11623 non-null  object
 24  Zip                                              11589 non-null  object
 25  Country                                          11718 non-null  object
 26  Exclude                                          17985 non-null  object
 27  Free_Start_User                                  17985 non-null  object
 28  Last_Active_At                                   17985 non-null  object
 29  Membership_Type                                  17985 non-null  object
 30  Unnamed: 30                                      0 non-null      float64
 31  Unnamed: 31                                      0 non-null      float64
dtypes: float64(14), int64(1), object(17)
memory usage: 4.4+ MB